<ng-container *ngIf="(redNoticeList$ | async) as red">
  <section class="list">
    <section class="card" *ngFor="let notice of red.notices" (click)="openProfile(notice)">
      <img [src]="notice._links.thumbnail?.href" alt="">
      <div class="content">
        <strong>{{ notice.name }}</strong>
        <p>{{ notice.forename }}</p>
        <small>Nationality: {{ notice.nationalities }}</small>
      </div>
    </section>
  </section>

  <section class="navigation">
    <button *ngIf="red.query.page > 1" (click)="refreshPage(red.query.page - 1)">Previous</button>
    <button (click)="refreshPage(red.query.page + 1)" class="next">Next</button>
  </section>
</ng-container>
